# >>>>>>>>>> BLACK LIST >>>>>>>>>>
*
# <<<<<<<<<< BLACK LIST <<<<<<<<<<

# >>>>>>>>>> WHITE LIST >>>>>>>>>>
!/README.md
!/dotfiles
!/dotfiles/*
!.gitignore
!install.sh
# <<<<<<<<<< WHITE LIST <<<<<<<<<<
